*,
html {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #6b121a;
    align-items: center;
}

ul {
    display: flex;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    margin: 5px;
    color: white;
    font-size: 20px;
    
}

nav a:hover {
    color: wheat;
}
nav li {
    list-style: none;
}

.logo {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-self: flex-start;
    margin: 5px;
}

/*  ---------------- Header ----------------  */

.header {
    display: flex;
    width: 500px;
    height: 300px;
}

.header-container h1 {
    margin: 10px 0px;
    margin-left: 300px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.header-container {
    display: flex;
    justify-content: center;
}